<section id="hero">

  <div class="container">
    <div class="row">
        <div class="col-sm-6">
          <h1>Kansas City Women in Technology</h1>
          <h2>presents</h2>
          <div class="djangofest"></div>
          <h2>Learn to build a website! Free programming workshop for women hosted by Kansas City Women in Technology</h2>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <a pageScroll class="btn btn-light" routerLink="/" href="#apply" role="button">Apply today!</a>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
    </div>
  </div>
  <div class="techtalk-image"></div>
</section>
