@import 'variables';
@import 'typography';

// Global styles
section {
    min-height: 420px;
    img {
        width: 100%;
    }
}

h5 {
  font-weight: 300;
}

// Section specific styles
#about {
  background: $ocean-blue;
  color: $white;
  height: 100%;
  overflow: hidden;

  @media (min-width: 768px) {
    height: 640px;
  }

  .container {
    margin: 0;
    max-width: 100%;

    @media (min-width: 768px) {
      height: 100vh;
    }

    .row {
      height: 100%;

      .col-sm-6:first-of-type {
        padding: 40px;
      }
    }

    a {
      color: #ffffff;
    }
  }

  .about-img {
    display: block;
    height: 100%;
    width: 50vw;
    background-image: url(src/assets/images/mission.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -200px;
  }
}

#apply {
  background: $green;
  color: $white;
  overflow: hidden;
  padding: 60px 40px;

  .container {
    height: 10vh;
    margin: 0;
    max-width: 100%;

    .row {
      @media (min-width: 768px) {
        height: 100%;
      }

      .col-sm-6:nth-of-type(2) {
        padding: 40px;
      }
    }
  }

  .apply-img {
    display: block;
    height: 100%;
    width: 50vw;
    background-image: url(src/assets/images/networking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -340px;
    background-position-y: -80px;
  }
}

#faq {
  background: $blue-green;
  text-align: center;

  .container {
    padding: 60px 40px;

    .col-sm-6:nth-of-type(2) {
      padding-top: 100px;

      @media (max-width: 768px) {
        padding-top: 40px;
      }
    }
  }
  a {
      color: #ffffff;
  }
  ul {
    text-align: left;
    padding-left: 20px;

    li {
      font-size: 1.3rem;
    }
  }

  .col-sm-6 {
    text-align: left;
  }

  .faq-img {
    display: block;
    height: 400px;
    width: 100vw;
    background-image: url(src/assets/images/growth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

#team {
    background: $aqua;
    text-align: center;
    padding: 100px 0px 100px 0px;

    .team-member {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color:$white;
      display: block;
      overflow: hidden;

      img {
         width: 50%;
      }

      p {
        margin: 0.75rem auto 2rem auto;
        max-width: 25ch;
      }
    }

    h6 {
        margin-top: 20px;
    }
}

#mentor {
  background: $blue;
  text-align: center;
  padding: 100px 0px 100px 0px;

  .mentor {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      color: $white;
      display: block;
      overflow: hidden;

      img {
        width: 50%;
      }

      p {
        margin: 0.75rem auto 2rem auto;
        max-width: 25ch;
      }
    }
  }

  h6 {
    margin-top: 20px;
  }
}

#sponsors {
  display: flex;
  align-items: center;
    background: $white;
    padding: 100px 40px;
    text-align: center;
    color: $black;
  

    p {
      font-size: 1.5rem;
      font-weight: 300;
      color: $black;
 
    }

    ul {
        margin: 0px;
        padding-bottom: 0.5rem;
    }

    .host {
       display: inline-block;
       margin: 10px auto;
    }

  
    a {
      color: $black;
    }

    #hosting-venue {
        margin-bottom: 0;
    }

    iframe {
        margin-top: 1.1em;
    }

    app-map {
        height: 300px;
    }
}

#mentor {
  a {
    color:White;
  }
  .coach {
    max-width: 140px;
    border-radius: 100%;
  }
} 
