<section id="about" xmlns="http://www.w3.org/1999/html">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <h4>Django Fest</h4>
              <h5>
                  If you are a woman and want to learn how to make websites, we have good news for you: we are holding a free workshop for beginners! It will take place on November 6-7 online.
                  <a href="http://kcwomenintech.org" target="_blank">Kansas City Women in Technology's</a> ongoing mission is to grow the number of women in technology careers in Kansas City.
              </h5>
              <h5>
                  KCWiT is excited to introduce women to coding and technology through this Django workshop. We want to give you an opportunity to learn how to program and become one of us – women programmers! This workshop is free of
                  charge, and some meals will be provided.
              </h5>
          </div>
          <div class="col-sm-6 mt-5">
              <h4>Schedule</h4>
              <h5>November 6</h5>
              <ul>
                  <li>6:30 - 7:00 pm Attendee check in</li>
                  <li>7:00 - 9:00 pm Install party</li>
              </ul>
              <h5>November 7</h5>
              <ul>
                  <li>9:30 - 10:00 am Attendee check in</li>
                  <li>10:00 - 10:15 am Opening presentation &amp; kickoff</li>
                  <li>10:15 am - 12:30 pm Session</li>
                  <li>12:30 - 1:30 pm Lunch break</li>
                  <li>1:30 - 5:00 pm Session</li>
                  <li>5:00 - 5:30 pm Closing presentation, retrospective</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<section id="faq">
  <div class="faq-img"></div>
  <div class="container">
      <h4 class="text-center">FAQ</h4>
      <h5>Don't see an answer to your question below? Please contact us at <a href="mailto:djangofest@kcwomenintech.org?Subject=DjangoFestKC%Inquiry" target="_blank">djangofest@kcwomenintech.org</a>!</h5>
      <div class="row">
          <div class="col-md-4 text-left">
              <p><b>Do I need to know anything about websites or programming?</b></p>
              <p>No! Workshops are for beginners. You don’t need to know anything about it. However, if you have a little bit of technical knowledge (i.e. you know what HTML or CSS are) you still can apply!</p>
          </div>
          <div class="col-md-4 text-left">
              <p><b>Do I need to have something installed on my laptop?</b></p>
              <p>
                  It would be helpful to have Django installed before workshops, but we wouldn't expect you to install anything on your own. Join us for the install party Friday night to get your laptop ready for the workshop!
              </p>
          </div>
          <div class="col-md-4 text-left">
              <p><b>What apps will I need to attend the workshop virtually?</b></p>
              <p>
                  We will be using <a href="https://zoom.us/" target="_blank">Zoom</a> for the event as well as <a href="https://slack.com/" target="_blank">Slack</a>. Both will be free to use and we will provide instructions on getting
                  familar with the apps if you haven't used them before!
              </p>
          </div>
      </div>
      <div class="row" style="margin-top: 30px;">
          <div class="col-md-4 text-left">
              <p><b>I don't live in Kansas City, can I attend?</b></p>
              <p>Of course! Groups of women from Omaha and Oklahoma City have joined us in prior years.</p>
          </div>
          <div class="col-md-4 text-left">
              <p><b>Is food provided? </b></p>
              <p>Yes. Thanks to our sponsors, lunch will be provided during workshops.</p>
          </div>
      </div>
  </div>
</section>
<section id="apply" name="#signup">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h4 class="text-center">Apply today!</h4>
              <p class="text-center">
                  Apply to be a mentor here:<br />
                  <a class="btn btn-light" href="https://forms.gle/3R1croAzTezLQKxDA" target="_blank" role="button">Mentor Application</a>
              </p>
              <p class="text-center">
                  Apply to be an attendee here:<br />
                  <a class="btn btn-light" href="https://forms.gle/MB8HB99gooyZnFMg9" target="_blank" role="button">Attendee Application</a>
              </p>
          </div>
      </div>
  </div>
</section>
<section id="sponsors">
  <div class="container">
      <h4 class="text-left">Sponsors</h4>
      <p class="text-left">
          We couldn't be here without the support from amazing organizations and people who donated money, knowledge, and time to help us make this a reality. If you want to contribute and support our goal, please get in touch at
          djangofest@kcwomenintech.org!
      </p>
      <div class="row">
          <div class="col-md-3">
              <a href="https://www.crema.us/" target="_blank">
                  <img src="https://djangogirls.org/uploads/event/sponsors/Crema_Black_Logo_1_ZEdhmGk.png.204x204_q85.png" alt="Crema" />
              </a>
              <p>Partner</p>
          </div>
      </div>
  </div>
</section>
<section id="team">
  <div class="container">
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
              <h4>Meet the Team</h4>
          </div>
          <div class="col-sm-1"></div>
      </div>
      <div class="row">
          <div class="col-sm-3 team-member" *ngFor="let member of team">
              <img class="rounded-circle" src="{{member.img}}" alt="{{member.name}}" />
              <h6>{{member.name}}</h6>
              <p>{{member.title}}</p>
          </div>
      </div>
  </div>
</section>

<section id="mentor">
  <div class="container">
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
              <h4>Meet the Mentors from 2019</h4>
              <p>Applications are now open for 2020 mentors. <a href="https://forms.gle/3R1croAzTezLQKxDA">Click here to apply today!</a></p>
          </div>
          <div class="col-sm-1"></div>
      </div>
      <div class="row mt-5">
          <div class="col-md-3 md-offset-1">
              <span>
                  <img src="/assets/images/mentors/alisa.png.160x160_q85_crop-smart.png" class="coach" />
              </span>
              <br />
              Alisa Duncan
              <br />
              <a href="https://twitter.com/AlisaDuncan" target="_blank">@AlisaDuncan</a><br />
          </div>
          <div class="col-md-3">
              <span>
                  <img src="/assets/images/mentors/Alysha.jpg.160x160_q85_crop-smart.jpg" class="coach" />
              </span>
              <br />
              Alysha Williams
              <br />
          </div>
          <div class="col-md-3">
              <span>
                  <img src="/assets/images/mentors/andie.jpg.160x160_q85_crop-smart.jpg" class="coach" />
              </span>
              <br />
              Andie Johnson
              <br />
          </div>
          <div class="col-md-3">
              <span>
                  <img src="/assets/images/mentors/Ben.jpg.160x160_q85_crop-smart.jpg" class="coach" />
              </span>
              <br />
              Ben Rodriguez
              <br />
              <a href="https://twitter.com/benlovesnachos" target="_blank">@benlovesnachos</a><br />
          </div>
      </div>
      <!--Row 2-->
      <div class="row mt-5">
        <div class="col-md-3 md-offset-1">
            <span>
                <img src="/assets/images/mentors/Chip_ydOsPZ0.jpeg.160x160_q85_crop-smart.jpg" class="coach" />
            </span>
            <br />
            Chip Warden
            <br />
        </div>
        <div class="col-md-3">
            <span>
                <img src="/assets/images/mentors/david.jpg.160x160_q85_crop-smart.jpg" class="coach" />
            </span>
            <br />
            David Fundakowski
            <br />
        </div>
        <div class="col-md-3">
            <span>
                <img src="/assets/images/mentors/Evan.jpeg.160x160_q85_crop-smart.jpg" class="coach" />
            </span>
            <br />
            Evan Harmon
            <br />
        </div>
        <div class="col-md-3">
            <span>
                <img src="/assets/images/mentors/Garry.jpg.160x160_q85_crop-smart.jpg" class="coach" />
            </span>
            <br />
            Garry Polley
            <br />
        </div>
    </div>
<!---Row 3-->
    <div class="row mt-5">
      <div class="col-md-3 md-offset-1">
          <span>
              <img src="/assets/images/mentors/Gloria.jpeg.160x160_q85_crop-smart.jpg" class="coach" />
          </span>
          <br />
          Gloria Higley
          <br />
      </div>
      <div class="col-md-3">
          <span>
              <img src="/assets/images/mentors/Jake.jpeg.160x160_q85_crop-smart.jpg" class="coach" />
          </span>
          <br />
          Jake LaCombe
          <br />
      </div>
      <div class="col-md-3">
          <span>
              <img src="/assets/images/mentors/Jason.png.160x160_q85_crop-smart.png" class="coach" />
          </span>
          <br />
          Jason Devore
          <br />
      </div>
      <div class="col-md-3">
          <span>
              <img src="/assets/images/mentors/JasonO.jpg.160x160_q85_crop-smart.jpg" class="coach" />
          </span>
          <br />
          Jason Otero
          <br />
      </div>
  </div>
  <!---Row 4-->
  <div class="row mt-5">
    <div class="col-md-3 md-offset-1">
        <span>
            <img src="/assets/images/mentors/Joe.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Joe Badger
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/John.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        John Barksdale
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/Jon.jpeg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Jon Smajda
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/Katie.JPG.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Katie Hrenchir
        <br />
    </div>
</div>
  <!---Row 5-->
  <div class="row mt-5">
    <div class="col-md-3 md-offset-1">
        <span>
            <img src="/assets/images/mentors/Keen.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Keen Wilson
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/Krista.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Krista LaFentres
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/Lillian.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Lillian Fleming
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/Maxwell_mInbYuz.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Maxwell Frederickson       
         <br />
    </div>
</div>
  <!---Row 6-->
  <div class="row mt-5">
    <div class="col-md-3 md-offset-1">
        <span>
            <img src="/assets/images/mentors/Keen.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Keen Wilson
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/Krista.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Krista LaFentres
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/Lillian.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Lillian Fleming
        <br />
    </div>
    <div class="col-md-3">
        <span>
            <img src="/assets/images/mentors/Maxwell_mInbYuz.jpg.160x160_q85_crop-smart.jpg" class="coach" />
        </span>
        <br />
        Maxwell Frederickson       
         <br />
    </div>
</div>
  </div>
</section>
