<section id="about" xmlns="http://www.w3.org/1999/html">
  <div class="container">
     <div class="row">
        <div class="col-sm-6">
           <h4>Django Fest</h4>
           <h5>
              If you are a woman and want to learn how to make websites, we have good news for you: we are holding a free workshop for beginners! It will take place on November 6-7 online.Kansas City Women in Technology's ongoing mission is to grow the number of women in technology careers in Kansas City. KCWiT is excited to introduce women to coding and technology through this Django Girls workshop. We want to give you an opportunity to learn how to program and become one of us – women programmers! This workshop is free of charge, and some meals will be provided.
           </h5>
        </div>
        <div class="col-sm-6 mt-5">
           <h4>Schedule</h4>
           <h5>November 6</h5>
           <ul>
              <li>6:30 - 7:00 pm Attendee check in</li>
              <li>7:00 - 9:00 pm Install party</li>
           </ul>
           <h5>November 7</h5>
           <ul>
              <li>9:30 - 10:00 am Attendee check in</li>
              <li>10:00 - 10:15 am Opening presentation &amp; kickoff</li>
              <li>10:15 am - 12:30 pm Session</li>
              <li>12:30 - 1:30 pm Lunch break</li>
              <li>1:30 - 5:00 pm Session</li>
              <li>5:00 - 5:30 pm Closing presentation, retrospective</li>
           </ul>
        </div>
     </div>
  </div>
</section>
<section id="faq">
  <div class="faq-img"></div>
  <div class="container">
     <div class="row">
        <div class="col-md-4 text-left">
           <p><b>Do I need to know anything about websites or programming?</b></p>
           <p>No! Workshops are for beginners. You don’t need to know anything about it. 
              However, if you have a little bit of technical knowledge (i.e. you know what HTML or CSS are) you still can apply!
           </p>
        </div>
        <div class="col-md-4 text-left">
           <p><b>Do I need to know anything about websites or programming?</b></p>
           <p>No! Workshops are for beginners. You don’t need to know anything about it. 
              However, if you have a little bit of technical knowledge (i.e. you know what HTML or CSS are) you still can apply!
           </p>
        </div>
        <div class="col-md-4 text-left">
           <p><b>Do I need to know anything about websites or programming?</b></p>
           <p>No! Workshops are for beginners. You don’t need to know anything about it. 
              However, if you have a little bit of technical knowledge (i.e. you know what HTML or CSS are) you still can apply!
           </p>
        </div>
     </div>
     <div class="row" style="margin-top: 30px">
        <div class="col-md-4 text-left">
           <p><b>I don't live in Kansas City, can I attend?</b></p>
           <p>Of course! Groups of women from Omaha and Oklahoma City have joined us in prior years.</p>
        </div>
        <div class="col-md-4 text-left">
           <p><b>Is food provided? </b></p>
           <p>Yes. Thanks to our sponsors, snacks and lunch will be served during workshops. </p>
        </div>
     </div>
  </div>
</section>
<section id="apply">
  <div class="container">
     <div class="row">
        <div class="col-sm-12">
           <h4 class="text-center">Apply today</h4>
           <p class="text-center">We couldn't be here without the support from amazing organizations and people who donated money, knowledge, and time to help us make this a reality. <br>If you want to contribute and support our goal, please get in touch at!         <br>    <a class="btn btn-light" href="https://forms.gle/MB8HB99gooyZnFMg9" role="button" pageScroll routerLink="/">Apply today!</a>
           </p>
        </div>
     </div>
  </div>
</section>
<section id="sponsors">
    <div class="container">
       <h4 class="text-left">Sponsors</h4>
       <p class="text-left">We couldn't be here without the support from amazing organizations and people who donated money, knowledge, and time to help us make this a reality. If you want to contribute and support our goal, please get in touch at kansascity@djangogirls.org!</p>
       <div class="row">
          <div class="col-md-3">
             <a href="https://www.crema.us/" target="_blank">
             <img src="https://djangogirls.org/uploads/event/sponsors/Crema_Black_Logo_1_ZEdhmGk.png.204x204_q85.png" alt="Crema">
             </a>
             <p>Silver Sponsor</p>
          </div>
          <div class="col-md-3">
             <a href="https://www.djangoproject.com/" target="_blank">
             <img src="https://djangogirls.org/uploads/event/sponsors/djangoproject.jpg.204x204_q85.jpg" alt="Django Project">
             </a>
             <p>Silver Sponsor</p>
          </div>
          <div class="col-md-3">
             <a href="https://www.elastic.co/" target="_blank">
             <img src="https://djangogirls.org/uploads/event/sponsors/Elastic_RqFq9vp.png.204x204_q85.png" alt="Elastic">
             </a>
             <p>Platinum Sponsor</p>
          </div>
          <div class="col-md-3">
             <a href="https://flatironschool.com" target="_blank">
             <img src="https://djangogirls.org/uploads/event/sponsors/flatiron.PNG.204x204_q85.PNG" alt="Flatiron School">
             </a>
             <p>Platinum Sponsor</p>
          </div>
       </div>
    </div>
  </section>
<section id="team">
  <div class="container">
     <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
           <h4>Meet the Team</h4>
        </div>
        <div class="col-sm-1"></div>
     </div>
     <div class="row">
        <div class="col-sm-3 team-member" *ngFor="let member of team">
           <img class="rounded-circle" src="{{member.img}}" alt="{{member.name}}"/>
           <h6>{{member.name}}</h6>
           <p>{{member.title}}</p>
        </div>
     </div>
  </div>
</section>
 
<section id="mentor">
  <div class="container">
     <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
           <h4>Meet the Mentors</h4>
        </div>
        <div class="col-sm-1"></div>
     </div>
     <div class="row">
        <div class="col-sm-3 team-mentor" *ngFor="let mentor of team">
           <img class="rounded-circle" src="{{mentor.img}}" alt="{{mentor.name}}"/>
           <h6>{{mentor.name}}</h6>
           <p>{{mentor.title}}</p>
        </div>
     </div>
  </div>
</section>
