body {
    background-color: #f1fcd2;
    background-image: url("../../assets/images/checkered-light-emboss.png");
}

.card-title {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Ruda', sans-serif;
}

.form-control p {
    font-family: 'Roboto Slab', serif;
}

.form-control:invalid {
    border-color: red;
    border-width: 2px;
}

