// //Custom Theming for Angular Material
// //For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $cocktails-site-primary: mat-palette($mat-deep-purple, 400);
// $cocktails-site-accent: mat-palette($mat-lime, 300, 200, 400);

// // The warn palette is optional (defaults to red).
// $cocktails-site-warn: mat-palette($mat-pink);

// // Create the theme object (a Sass map containing all of the palettes).
// $cocktails-site-theme: mat-light-theme($cocktails-site-primary, $cocktails-site-accent, $cocktails-site-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($cocktails-site-theme);

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,400,700,900');
@import url('//cdn-images.mailchimp.com/embedcode/classic-10_7.css');
@import './variables';
@import './typography';

body {
    font-family: $font-family-sans-serif;
    color: $white;
}

.btn {
    margin: .5em 0;
}

